@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2");
}
@font-face {
	font-family: "Atkinson Hyperlegible Mono";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url("/fonts/AtkinsonHyperlegibleMonoVF-Variable.woff2") format("woff2");
}
