
/* "Skip to main content" link */
.skip-link {
  position: absolute;
  top: 5px;
  transform: translateY(-600%);
  transition: transform 0.5s;
  background-color: var(--primary-background);
  padding: 6px;
}

.skip-link:focus {
  transform: translateY(0%);
}

