$breakpoints: (
  sm: 42rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  2xl: 96rem
);

:root {
  --spacing: 0.25rem;
  --font-sans:
    "Atkinson Hyperlegible Next", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    "Atkinson Hyperlegible Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  color-scheme: light dark;
  font-family: var(--font-sans);
  font-weight: 400;
  font-optical-sizing: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --link-foreground: #0069c2;
    --link-foreground-visited: #551a8b;
    --primary-background: oklch(1 0 0);
    --primary-foreground: oklch(21% 0.006 285.885);
    --secondary-background: oklch(92% 0.004 286.32);
    --muted-background: oklch(96.7% 0.001 286.375);
    --muted-foreground-50: oklch(96.7% 0.001 286.375 / 0.5);
    --muted-foreground: oklch(55.2% 0.016 285.938);
    --secondary-foreground: oklch(37% 0.013 285.805);
    --primary-border: oklch(92% 0.004 286.32);
    --kbd-shadow: oklch(21% 0.006 285.885 / 10%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-foreground: #8cb4ff;
    --link-foreground-visited: #ffadff;
    --primary-background: oklch(21% 0.006 285.885);
    --primary-foreground: oklch(96.7% 0.001 286.375);
    --muted-background: oklch(27.4% 0.006 286.033);
    --muted-foreground-50: oklch(27.4% 0.006 286.033 / 0.5);
    --secondary-background: oklch(37% 0.013 285.805);
    --muted-foreground: oklch(70.5% 0.015 286.067);
    --secondary-foreground: oklch(87.1% 0.006 286.286);
    --primary-border: oklch(37% 0.013 285.805);
    --kbd-shadow: oklch(96.7% 0.001 286.375 / 10%);
  }
}

@mixin responsive-type($base, $line, $md, $line-md) {
  font-size: $base;
  line-height: $line;

  @media (min-width: map-get($breakpoints, sm)) {
    font-size: $md;
    line-height: $line-md;
  }
}

@mixin responsive-margin-y(
  $base-top,
  $base-bottom,
  $md-top,
  $md-bottom,
  $xl-top,
  $xl-bottom
) {
  margin-top: $base-top;
  margin-bottom: $bottom;

  @media (min-width: map-get($breakpoints, md)) {
    margin-top: $base-top;
    margin-bottom: $bottom;
  }
  @media (min-width: map-get($breakpoints, xl)) {
    margin-top: $base-top;
    margin-bottom: $bottom;
  }
}

@mixin visited-link-style {
  color: var(--link-foreground-visited);
  font-weight: 500;
  text-decoration: none;
}

@mixin normal-link-style {
  color: var(--link-foreground);
  font-weight: 500;
  text-decoration: none;
}

@mixin base-link-style {
  color: var(--primary-foreground);
  font-weight: 500;
  text-decoration: none;
}

@mixin hover-visited-link-style {
  text-decoration: underline;
  text-decoration-color: var(--link-foreground-visited);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

@mixin hover-normal-link-style {
  text-underline-offset: 4px;
  text-decoration: underline;
  text-decoration-color: var(--link-foreground);
  text-decoration-thickness: 2px;
}

@mixin hover-base-link-style {
  text-underline-offset: 4px;
  text-decoration: underline;
  text-decoration-color: var(--primary-foreground);
  text-decoration-thickness: 2px;
}
